<!doctype html>
<html lang = "ru">
  <head>
    <link rel="stylesheet" type="text/css" href="https://kikimora444.github.io/Chess/styles/main.css"/>
    <title>Chess</title>
    <meta charset="UTF-8">
    <meta name="author" content="Руслан Денисов">
    <meta name="descrition" content="Обучение игре в Шахматы">
    <meta name="keywords" content="Chess, Шахматы, Шахи">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
  
  <div id="navigation">
    <p><a href="https://kikimora444.github.io/Chess/index.html">Главная</a></p>
    <p><a href="https://kikimora444.github.io/Chess/pages/rules.html">Правила</a></p>
  </div>
  <h1>Правила</h1>
  <p>Естественно, первое чоо нужно узнать перед теми как играть - это правила и терминология</p>
  </body>
</html>
