#navigation {
	float:left; width:100px;
}
body{
  text-size:150%; text-color:#000055; background-color:rgb(20;21;12); background-repeat:no-repeat; background-size:100%;
}
#block{
  background-color:#EEEEEE; margin:10px; border:1px; border-color:#000000;
